.container
  .row
    .col-md-12.page-header
      %h2
        = t('Ticket Purchases')
      .text-muted
        = t('Your unpaid ticket purchases for the conference')

    .col-md-12
      - if @unpaid_ticket_purchases.present?
        %table.table.table-bordered.table-striped.table-hover#roles
          %thead
            %tr
              %th
                = t('ID')
              %th
                = t('Type')
              %th
                = t('Quantity')
              %th
                = t('Date')
              %th
                = t('Actions')
          %tbody
            - @unpaid_ticket_purchases.each do |ticket_purchase|
              %tr
                %td= ticket_purchase.id
                %td= ticket_purchase.ticket.title
                %td= ticket_purchase.quantity
                %td= ticket_purchase.created_at.strftime('%B %d, %Y')
                %td
                  .btn-group
                    = link_to t('Pay'), new_conference_payment_path,
                    class: 'btn btn-primary'
      - else
        %h5
          = t('dont-have-unpaid')
