- cache([conference_id, call, '#splash#callfortracks'],
  expires_in: 1.hour) do
  .col-md-4.col-sm-4.text-center
    %h2
      = t("Call for Tracks")
    %p.lead
      = t("We are now accepting custom track requests")
    %p
      = t("Would you like to host a mini-summit, sub-conference, or hack space?")
      = t("The submission period for track requests is open")
      %em
        = date_string(call.start_date, call.end_date) + '.'
      %b
        = t('days_left', days: pluralize(call.remaining_days, 'day'))
    %p.cta-button
      = link_to( t("Submit your request for track"),
        new_conference_program_track_path(conference_id),
        class: 'btn btn-success btn-lg text-center')
