- cache([conference_id, call, event_types, tracks, '#splash#callforpapers'],
  expires_in: 1.hour) do
  .col-md-4.col-sm-4.text-center
    %h2
      = t("Call for Papers")
    %p.lead
      = t("We are now accepting proposals for sessions")
    %p
      - if event_types.any?
        = t("You can submit proposals for")
        %span.notranslate
          = event_types.map(&:pluralize).to_sentence + '.'
      - if tracks.any?
        = t("Proposals should fit in one of the")
        %span.notranslate
          = pluralize(tracks.length, 'track') + ':'
          = tracks.to_sentence + '.'
      = t("The submission period is open")
      %em.notranslate
        = date_string(call.start_date, call.end_date) + '.'
      %b
        = t('days_left', days: pluralize(call.remaining_days, 'day'))
    %p.cta-button
      = link_to t("Submit your proposal now"),
        new_conference_program_proposal_path(conference_id),
        class: 'btn btn-success btn-lg text-center'
