- cache [conference_id, call, '#splash#callforbooths'] do
  .col-md-4.col-sm-4.text-center
    %h2
      = t("Call for Booths")
    %p.lead
      = t("We are now accepting custom booth requests")
    %p
      = t("Would you like to request a new booth?")
      = t("The submission period for booth requests is open")
      %em
        = date_string(call.start_date, call.end_date) + '.'
      %b
        = t('days_left', days: pluralize(call.remaining_days, 'day'))
    %p.cta-button
      = link_to( t("Submit your request for booth"),
        new_conference_booth_path(conference_id),
        class: 'btn btn-success btn-lg text-center')
