= content_for :splash_nav do
  %li
    %a.smoothscroll{ href: '#registration' } Registration

%section#registration
  .container
    .row
      .col-md-12.text-center
        %h1 Registration
        - if conference.registration_limit_exceeded?
          %p
            = t('Sorry, the conference registration limit has exceeded')
        - elsif tickets.empty?
          %p.lead
            = t('Going to')
            = conference.short_title
            = t('is free of charge')
          %p
            = t('We only ask you to register yourself before')
            = date_string(registration_period.start_date,
              registration_period.end_date)
            = t('so we can plan for the right amount of people')
            %p.cta-button
        - else
          %p
            = t('The registration period is open')
            = date_string(registration_period.start_date,
              registration_period.end_date)
        - if conference.registration_open?
          %p.cta-button
            - if conference.user_registered?(current_user)
              = link_to( t('Edit Your Registration'),
                conference_conference_registration_path(conference_id),
                class: 'btn btn-success')
            - else
              = link_to( t('Register Now'),
                new_conference_conference_registration_path(conference_id),
                class: 'btn btn-lg btn-success')
