.container
  .row
    .col-md-12
      .well
        %h1
          = t('Welcome to your new Moraga Event Manager installation!')
        %p
          = t('The first user to')
          - if ENV.fetch('MORAGA_ICHAIN_ENABLED', nil) == 'true'
            = link_to(new_ichain_registration_path('user')) do
              = t('sign up')
          - else
            = link_to(new_registration_path('user')) do
              = t('sign up')
          = t('will the be administrator of it')
        %p
          = t("We hope you enjoy using MORAGA")
          = link_to('https://github.com/opensouthcode/moraga/issues') do
            = t('contact us')
