.container
  = render partial: 'schedule_tabs', locals: { active: 'schedule' }

  #schedule-content
    %h1.text-center
      = t('Schedule for')
      = @conference.title

    / Day tabs (replace dropdown)
    %ul.nav.nav-pills.schedule-day-tabs
      - @dates.each do |date|
        %li{ class: ('active' if @day == date) }
          = link_to l(date, format: :short), "##{date}", "data-toggle" => "tab", class: "day-tab"

    .tab-content
      - @dates.each do |date|
        %div{ class: "tab-pane #{'active' if @day == date}", id: "#{date}" }
          = render partial: 'schedule_grid', locals: { date: date }

    %p
      %span
        = link_to conference_schedule_url(protocol: 'webcal', format: 'ics') do
          = t('Add the schedule to your calendar')
      %span.pull-right
        = link_to app_conference_schedule_path do
          = t('Get the mobile app')

:javascript
  $(document).ready(function() {
    var hash = window.location.hash;
    if (hash && hash !== '#schedule') {
      $('ul a[href="' + hash + '"]').tab('show');
    }
  });
