- if @conference.splashpage&.use_new_design?
  - content_for :splash_nav do
    - sp = @conference.splashpage
    %li
      = link_to t('About'), conference_path(@conference.short_title, anchor: 'sn-about')
    - if sp.include_program
      %li
        = link_to t('Schedule'), conference_schedule_path(@conference.short_title)
    - show_tickets = sp.include_tickets && @conference.tickets.any?
    - if (sp.include_registrations && @conference.registration_open?) || show_tickets
      %li
        = link_to (show_tickets ? t('Tickets') : t('Registration')), conference_path(@conference.short_title, anchor: 'sn-registration')
    - if sp.include_venue && @conference.venue
      %li
        = link_to t('Venue'), conference_path(@conference.short_title, anchor: 'sn-venue')
    - if sp.include_sponsors && @conference.sponsorship_levels.any?
      %li
        = link_to t('Sponsors'), conference_path(@conference.short_title, anchor: 'sn-sponsors')

.container
  = render partial: 'schedule_tabs', locals: { active: 'schedule' }

  #schedule-content
    %h1.text-center
      = t('Schedule for')
      = @conference.title

    / Day tabs (replace dropdown)
    %ul.nav.nav-pills.schedule-day-tabs
      - @dates.each do |date|
        %li{ class: ('active' if @day == date) }
          = link_to l(date, format: :short), "##{date}", "data-toggle" => "tab", class: "day-tab"

    .tab-content
      - @dates.each do |date|
        %div{ class: "tab-pane #{'active' if @day == date}", id: "#{date}" }
          = render partial: 'schedule_grid', locals: { date: date }

    %p
      %span
        = link_to conference_schedule_url(protocol: 'webcal', format: 'ics') do
          = t('Add the schedule to your calendar')
      %span.pull-right
        = link_to app_conference_schedule_path do
          = t('Get the mobile app')

:javascript
  $(document).ready(function() {
    var hash = window.location.hash;
    if (hash && hash !== '#schedule') {
      $('ul a[href="' + hash + '"]').tab('show');
    }
  });
