.form-group
  = f.label :url
  %abbr{title: t('This field is required'} *
  = f.text_field :url, required: 'required', class: 'form-control'
  %span.help-block
    = t('just-paste')
  .form-group
    - if f.object.new_record?
      = f.submit nil, class: 'btn btn-primary pull-right', id: 'commercial_submit_action', disabled: true
    - else
      = f.submit nil, class: 'btn btn-primary pull-right'
      - if can? :destroy, commercial
        = link_to(t('Delete'), conference_program_proposal_commercial_path(@conference.short_title, @event.id, commercial.id),
                  :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger')
      - if f.object.versions.any?
        .text-right
          = t('added by')
          = link_to_user(commercial.versions.last.whodunnit)
