%p.lead
  - if @program.event_types.any?
    = t('You can submit proposals for')
    = "#{event_types_sentence(@conference)}."
  - if @program.tracks.confirmed.cfp_active.any?
    = t('Proposals should fit in one of the')
    = "#{pluralize(@program.tracks.confirmed.cfp_active.count, 'track')}:"
    = "#{tracks(@conference)}."
  - if @program.cfp_open?
    = t('The submission period has begun')
    %em
      = l(@program.cfp.start_date, format: '%A, %B %-d. %Y')
    = t('and closes')
    %em
      = l(@program.cfp.end_date,  format: '%A, %B %-d. %Y.')
    = t('That means you have')
    %b
      = @program.cfp.remaining_days
      = t('day', count: @program.cfp.remaining_days)
    = t('left!')
    = t('Remember')
    %span
      = @conference.title
    = t('goodContent')
  -else
    = t('The submission period is closed now') + "."
