%html{xmlns: 'http://www.w3.org/1999/html'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1'}
    %title= content_for?(:title) ? yield(:title) : ENV.fetch('MORAGA_NAME', 'MORAGA')
    %meta{content: '', name: 'description'}
    %meta{content: '', name: 'author'}
    = stylesheet_link_tag "application", media: 'all'
    = javascript_include_tag "application"

    = csrf_meta_tags

    = yield(:head)
  %body{ class: ("conference-#{@conference.short_title}" if @conference) }
    = render 'layouts/navigation', conference: @conference
    -# Admin area
    - if controller.class.name.split("::").first=="Admin"
      = render 'layouts/admin'
    -else
      #messages
        .container
          = render 'layouts/messages'
      #content
        = yield

    = yield :modals

    #footer
      .container
        %p.muted.text-center
          %small
            = t('This tool is')
            #{link_to t("free software"), "http://www.gnu.org/philosophy/free-sw.html"},
            = t('released under the')
            #{link_to t("MIT license"), "http://opensource.org/licenses/MIT"}.
            = t('You can run, copy, distribute, study, change and improve it')
            = t('The source code and the developers are on')
            #{link_to "GitHub", "https://github.com/opensouthcode/moraga"}.
            - if ENV.fetch('SKYLIGHT_PUBLIC_DASHBOARD_URL', nil)
              Performance data is available on
              #{link_to "Skylight", ENV["SKYLIGHT_PUBLIC_DASHBOARD_URL"]}.
    = yield :script_body
    = yield :charts_js
